/* Utilities */

.sen-font {
  font-family: Sen, sans-serif;
}

.app-body {
  background-color: #e8e7e8;
}

.general-heading {
  font-family: Sen;
  font-size: 5rem;
  text-align: center;
  margin: 1rem 0 0;
}

@media (max-width: 420px) {
  .general-heading {
    margin: 10rem 0 0;
  }
}

.general-body-text {
  font-size: 1.5rem;
  margin: 0 2.5rem 0;
}

@media (min-width: 600px) {
  .general-body-text {
    line-height: 3rem;
  }
}

@media (max-width: 420px) {
  .general-body-text {
    margin: 0 1rem 5rem;
  }
}

@media (max-width: 460px) {
  .general-heading {
    font-size: 1.5rem;
  }

  .general-body-text {
    font-size: 1rem;
  }
}
