// FONTS

$sans-serif-font: "Jost";
$display-font: "VT323";

// COLORS

$green: #73a857;
$dark: #342224;
$purple: #9b59b6;
$turqoise: #16a085;
$blue: #77b1a9;
$navy: #2c3e50;
$red: #e74c3c;
$red-light: #fb6964;
$yellow: #bac932;
$grey: #bdbb99;
$off-black: #181617;
$off-white: #e8e7e8;
