///////////////////////////// CARDS

.card {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  font-family: sen;

  background-image: url("../../Images/SheffieldCityHall.jpg");
  /* This file is made available under the Creative Commons CC0 1.0 Universal Public Domain Dedication */
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 2px black, 0 0 1em #e8e7e8, 0 0 0.2em #e8e7e8;
  height: 400px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 460px) {
  .card {
    margin: 2.5rem 1.3rem 2.5rem;
  }
}

@media (max-width: 330px) {
  .card {
    margin: 2.5rem 0.1rem 2.5rem;
  }
}

.card-img {
  filter: grayscale(50%);
}

/////////////////////////////// GRID SECTION
.home-section-two-container {
  display: table;
  min-height: 100vh;
  width: 100vw;
}

.home-grid {
  min-height: 100vh;
  background-color: $off-black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &-item {
    display: grid;
    justify-self: center;
    align-self: center;
    &-1 {
      background-color: $off-black;
    }
    &-2 {
      background-color: $off-black;
    }
    &-3 {
      background-color: $off-black;
    }
    &-4 {
      background-color: $off-black;
    }
    &-5 {
      background-color: $off-black;
    }
    &-6 {
      background-color: $off-black;
    }
  }
}

@media (max-width: 990px) {
  .home-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 770px) {
  .home-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
