/* Navigation */

#nav {
  background-color: #181617;
  color: #e8e7e8;
  width: 100vw;
  position: absolute;
  z-index: 1;
}

#navbar-title {
  color: #e8e7e8;
  font-family: $display-font, monospace;
  font-size: 50px;
}
